
<div class="row no-gutters">
  <div class="col-md-8 mx-2 mx-sm-auto text-left shadow-lg rounded px-5 my-5">
    <h4 class="text-dark text-center py-4 mb-0">ログイン</h4>

    <p id="notice"><%= flash[:notice] %></p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <label class = "col-md-4">メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <label class = "col-md-4">パスワード(６文字以上)</label>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions text-center">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>


  </div>
</div>
