<h2><%= @customer.name %>さんの会員詳細</h2>
<div class = "text-right">
    <%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
</div>

<div class = "row">
<div class = "col-md-12 center-block">
  <table class = "ml-3">
      <tr class = "py-4">
          <th>会員ID</th>
          <td class = "pl-3"><%= @customer.id %></td>
      </tr>
      <tr>
          <th>氏名</th>
          <td class = "pl-3"><%= @customer.name %></td>
      </tr>
      <tr>
          <th>ユーザー名</th>
          <td class = "pl-3"><%= @customer.user_name %></td>
      </tr>
      <tr>
          <th>メールアドレス</th>
          <td class = "pl-3"><%= @customer.email %></td>
      </tr>
      <tr>
          <th>自己紹介</th>
          <td class = "pl-3"><%= @customer.introduction %></td>
      </tr>
      <tr>
          <th>会員ステータス</th>
          <td class = "pl-3">
              <% if @customer.is_deleted == true %>
                  退会
              <% else %>
                  有効
              <% end %>
          </td>
      </tr>
  </table>
</div>
</div>
